/* General body CSS*/
/*References for photos
 Tubes-----
Unsplash.com. 2020. Photo By Bill Oxford On Unsplash. [online] Available at: https://unsplash.com/photos/tR0PPLuN6Pw [Accessed 10 December 2020].
 Virus ----
Unsplash.com. 2020. Photo By CDC On Unsplash. [online] Available at: https://unsplash.com/photos/w9KEokhajKw [Accessed 10 December 2020].
The guy doing the tube thingy ------------
Unsplash.com. 2020. Photo By Thisisengineering Raeng On Unsplash. [online] Available at: https://unsplash.com/photos/qI7USKbZY_A [Accessed 10 December 2020].
 */
body{
    margin: 0;
    padding: 0;
    background-color: #c2caca;
    background-image: url("images/assignment2_covid.png");
    background-size: cover;
}
/*navigation bar CSS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333537;
}
li {
    float: left;
}
li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
}
li a:hover {
    background-color: black;
    color: grey;
    transition: 2s;
}
/* Title Bar CSS*/
#img_div{
    background-color: black;
    width: 100%;
    text-align: left;
    padding: 24px 0;
}
.left{
    color: white;
    font-family: "Barlow Condensed Thin", sans-serif;
    font-style: italic;
    font-size: 25px;
    margin: 24px;
}
/* Sign up button CSS*/
#signup_button{
    background-color: lightgreen;
    border-radius: 25px;
    padding: 14px 40px;
    position: absolute;
    top: -14px;
    right: 10px;
    color: black;

}
#signup_button:hover{
    background-color: #333537;
    color: #90ee90;
    transition: 1s;
}
/* index.html*/
main{
    background-color: #FFFFE0;
    color: black;
}
#h2{
    padding: 20px;
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: xx-large;
    width: fit-content
}
.info{
    padding: 14px 10px;
    font-family: BlinkMacSystemFont, Arial, sans-serif;
    font-size: 20px;
    width: 90%;
    text-align: center;
    transform: translate(-50%,0);
    margin-left: 50%;
}
#pics{
    display: flex;
    background-color: grey;
    width: 100%;
}
.pic_wrapper{
    width: 33.33%;
}
.pics{
    width: 100%;
}
.pics:hover{
    transition: 1s;
    opacity: 0.2;
}
@media only screen and (max-width: 600px){
    li{
        float: none;
    }
    #signup_button{
        width: 150px;
    }
}
/* Sign up Form CSS*/
input, button{
    background: none;
    border-radius: 24px;
    display: block;
    margin: 20px auto;
    border: 2px solid #3498db;
    padding: 14px 10px;
    text-align: center;
    width: 200px;
    color: white;
}

select{
    background: none;
    border-radius: 24px;
    display: block;
    margin: 20px auto;
    border: 2px solid #3498db;
    padding: 14px 10px;
    text-align: center;
    width: 200px;
    color: black;
}

input:hover{
    background: grey;
    transition: 1s;
}
button:hover{
    background: grey;
    transition: 1s;
}
#login_sign-up{
    background-color: #333537;
    color: #60ef9c;
}
#login_sign-up:hover{
    background-color: #60ef9c;
    color: #333537;
}
#form_wrapper{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
#form_sign-up{
    display: block;
    text-align: center;
    background-color: #353535;
    width: 350px;
    padding: 14px 10px;
}
#radio{
    display: flex;
}
/* CSS for team.html*/
.profile_pic_wrapper{
    background-color: #0e0e1d;
    width: 100%;
    justify-content: space-around;
}
.profile_pic{
    width: 300px;
    height: 300px;
    border-radius: 100%;
    object-fit: cover;
    padding: 20px;
}
.profile_pic:hover{
    opacity: 50%;
    transition: 2s;
}
#caleb_about{
    background-color: #fcf9f5;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 20px;
    display: none;
}
#ercan_about{
    background-color: #fcf9f5;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 20px;
    display: none;
}
#chidz_about{
    background-color: #fcf9f5;
    width: 100%;
    height: 600px;
    margin: 0;
    padding: 20px;
    display: none;
}