/* General body CSS*/
/*References for photos
 Tubes-----
Unsplash.com. 2020. Photo By Bill Oxford On Unsplash. [online] Available at: https://unsplash.com/photos/tR0PPLuN6Pw [Accessed 10 December 2020].
 Virus ----
Unsplash.com. 2020. Photo By CDC On Unsplash. [online] Available at: https://unsplash.com/photos/w9KEokhajKw [Accessed 10 December 2020].
The guy doing the tube thingy ------------
Unsplash.com. 2020. Photo By Thisisengineering Raeng On Unsplash. [online] Available at: https://unsplash.com/photos/qI7USKbZY_A [Accessed 10 December 2020].
 */
body{
    margin: 0;
    padding: 0;
    background-color: #c2caca;
    color: white;
    background-image: url("images/assignment2_covid.png");
    background-size: cover;
}
/*navigation bar CSS*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333537;
}
li {
    float: left;
}
li a {
    text-decoration: none;
    display: block;
    color: white;
    text-align: center;
    padding: 20px;
}
li a:hover {
    background-color: black;
    color: grey;
    transition: 2s;
}
/* Title Bar CSS*/
#img_div{
    background-color: black;
    width: 100%;
    text-align: left;
    padding: 24px 0;
}
.left{
    color: white;
    font-family: "Barlow Condensed Thin", sans-serif;
    font-style: italic;
    font-size: 25px;
    margin: 24px;
}
/* Sign up button CSS*/
#signup_button{
    background-color: lightgreen;
    border-radius: 25px;
    padding: 14px 40px;
    position: absolute;
    top: -14px;
    right: 10px;
    color: black;

}
#signup_button:hover{
    background-color: #333537;
    color: #90ee90;
    transition: 1s;
}
/* Sign up Form CSS*/
input{
    background: none;
    border-radius: 24px;
    display: block;
    margin: 20px auto;
    border: 2px solid #3498db;
    padding: 14px 10px;
    text-align: center;
    width: 200px;
    color: white;
}

select{
    background: none;
    border-radius: 24px;
    display: block;
    margin: 20px auto;
    border: 2px solid #3498db;
    padding: 14px 10px;
    text-align: center;
    width: 200px;
    color: black;
}

input:hover{
    background: grey;
    transition: 1s;
}
#login_sign-up{
    background-color: #333537;
    color: #60ef9c;
}
#login_sign-up:hover{
    background-color: #60ef9c;
    color: #333537;
}
#form_wrapper{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
#form_sign-up{
    display: block;
    text-align: center;
    background-color: #353535;
    width: 350px;
    padding: 14px 10px;
}
#radio{
    display: flex;
}
/* index.html*/
.info{
    padding: 14px 10px;
    background-color: #333537;
    color: white;
    font-family: BlinkMacSystemFont, Arial, sans-serif;
    font-size: x-large;
    width: 800px;
    margin: 30px;
}
#tubes{
    width: 500px;
    position: absolute;
    right: 50px;
    top: 400px;
    z-index: -2;
}
#doctor{
    width: 500px;
    position: absolute;
    right: 50px;
    top: 800px;
    margin-bottom: 20px;
    z-index: -2;
}


